# Arquivo .gitignore para o projeto .NET

## Pastas de compilação
[Bb]in/
[Oo]bj/

## Arquivos de usuário e configurações locais
*.user
*.suo
*.userosscache
*.sln.docstates
appsettings.Development.json

## Arquivos do Rider
.idea/
*.sln.iml

## Logs e arquivos de banco de dados locais
*.log
*.db